.container {
  display: flex;
  justify-content: center;
}
.dashboardContent {
  display: flex;
  width: 100%;
  max-width: var(--content-width);
  padding-top: 30px;
}
.mainContent {
  flex: 1;
}
.pageTitle {
  margin-bottom: 30px;
  font-size: 27px;
  color: var(--color-black);
  font-weight: 600;
}
.pageContent {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: calc(100vh - var(--header-height) - 60px);
  margin-bottom: 30px;
}
.sidebarContent {
  margin-right: 40px;
}
