.header {
  background-color: var(--color-white);
  height: var(--header-height);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.container {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 20px;
}
.logoImg {
  width: 39px;
  height: 39px;
}
.textLogo {
  color: var(--color-primary);
  font-size: 28px;
  font-weight: 800;
  margin-left: 10px;
}
.adminInfo {
  font-size: 16px;
  color: var(--color-black);
}
.btn {
  margin-left: 20px;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-weight: 400;
  font-size: 13px;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  padding: 5px 25px;
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
