.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.widthFolio {
  width: 6%;
}
.widthName {
  width: 25%;
}
.widthDescription {
  width: 40%;
}
