.formInput {
  font-size: 16px;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--color-medium-gray);
  font-family: inherit;
  color: var(--color-black);
}
.formInput:focus {
  outline: none;
  border: 1px solid var(--color-black);
  color: var(--color-black);
}
input[type='number'] {
  /* Firefox */
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  /* Chrome, Safari, Edge */
  -webkit-appearance: none;
  margin: 0;
}
.label {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
}
.inputSection {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.margin20 {
  margin-bottom: 20px;
}
.w50 {
  width: 50%;
}
.buttonContainer {
  display: flex;
  justify-content: end;
  gap: 5px;
}
.buttonNext {
  background-color: var(--color-gray);
  color: var(--color-white);
  border: none;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  padding: 10px 15px;
  cursor: pointer;
}
.buttonNext:hover {
  background-color: #8e9398d8;
}
.buttonAdd {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  padding: 10px 15px;
  cursor: pointer;
}
.buttonAdd:hover {
  background-color: rgb(232, 93, 0);
}
.section {
  border-bottom: 1px solid var(--color-medium-gray);
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.section2 {
  border-bottom: 1px solid var(--color-medium-gray);
  padding-bottom: 15px;
  margin-bottom: 30px;
}
