@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  font-family: 'Open-Sans', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #f96302;
  --color-edit: #0057a2;
  --color-delete: #f44336;
  --color-inProgress: #004085;
  --color-inProgress-background: #cce7ff;
  --color-pending: #856404;
  --color-pending-background: #fff3cd;
  --color-completed: #155724;
  --color-completed-background: #d4edda;
  --color-primary-transparent: #f963021a;
  --color-black: #333;
  --color-black-background: #000000a3;
  --color-white: #fff;
  --color-light-gray: #f4f4f4;
  --color-medium-gray: #ddd;
  --color-gray: #8e9398;

  --content-width: 1400px;
  --header-height: 70px;
  --border-radius: 7px;

  background-color: var(--color-light-gray);

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
